.chart {
    width: 500px;
    margin: 50px auto;
}
canvas {
    width: 500px;
    height: 500px;
}
.chart-label {
    white-space: nowrap;        // Ngăn cản dòng không xuống dòng
    overflow: hidden;           // Ẩn bớt phần văn bản quá dài
    text-overflow: ellipsis;    // Thêm dấu "..." khi văn bản quá dài
}
.container {
    padding: 20px;
    text-align: center;
}

.chart-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.chart-item {
    width: 400px;
    height: 400px;
}

@media only screen and (max-width: 600px) {
    .chart {
        width: 100%;
        margin: 50px auto;
    }
}
